* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: logoFont;
    src: url(KomikaTitle.ttf)
}

body {
    background-color: #f9f1dc;
    font-family: sans-serif;
}

header {
    background-color: #dc6942;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    color: #ffffff;
}

header > ul > li > a {
    text-decoration: none;
    color: #ffffff
}

#logo {
    font-family: logoFont;
} 

#page-container {
    position: relative;
    min-height: 100vh;
}


#menu {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.category {
    padding: 8px;
}

.item {
    background-color: #efe6cf;
    max-width: 250px;
    margin: 5px;
    padding: 5px;
    border-radius: 8%;
}


footer {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    background-color: #2ba783;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.foot {
    text-align: center;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    
}

li {
    padding: 5px;
}

#menunav > li > a {
    text-decoration: none;
    color: #dc6942;
    font-family: logoFont;
    font-size: 36px;
}

table, th, td {
    padding: 8px;
    border-radius: 8%;
}

th, td {
    background-color: #efe6cf;
}

#toppings {
    text-align: center;
}

.price {
    text-align: right;
}

.bold {
    font-weight: bold;
}